{% extends 'base.html.twig' %}

{% block title %}
    {{ title }} {{ app.user.email }}
{% endblock %}

{% block body %}
    <section id="edit_profile_page">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb py-4">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Homepage</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('account-user') }}">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ul>
            </nav>
            <h1>{{ title }} {{ app.user.email }}</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="edit_profile_block_form mt-5">
                {{ form(profileform) }}
            </div>
        </div>
    </section>
{% endblock body %}